body {
    margin: 0;
    font-family: Arial;

    /* ERROR 5:
    missing semicolon */

    background-color: #0f172a
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    background: white;
    color: black;

    /* ERROR 6:
    missing semicolon */

    margin: 20px

    padding: 20px;
    border-radius: 15px;
}

.card img {

    /* ERROR 7:
    image too large */

    width: 500px;

    height: 200px;
}

.card:hover {

    /* ERROR 8:
    animation not smooth */

    transform: scale(1.1)
}